extends ../components/base/layout

block variables
  - const title = "Nastel - калькулятор" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "calculator-page--01.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    section.calculator
      .calculator__form-wrapper(data-validate)
        form.calculator__form-form#calculatorForm(action="#")
          +calculator01()
          +calculator02-01()
          +calculator02-02()
          +calculator02-03()
          +calculator02-04()
          +calculator03-01()
          +calculator03-02()
          +calculator03-03()
          +calculator04()
block modals
  +modal("modal--calc-form")(data-modal="modal-calc-form")
    +modal-calc-form()
  +modal("modal--success")(data-modal="modal-success")
    +modal-success()
