mixin calculator04 ()
	-
		const data = {
			title: "Калькулятор",
			titleText: "Заполните данные, и мы отправим Вам подробный расчёт удобным для Вас способом в течение 1 рабочего дня.",
			fieldset: {
				marker06: "6. ",
				title01: "Данные собраны! ",
				title0102: "Мы подготовим и отправим расчёт в течение рабочего дня.",
				title02: "Где Вам удобнее получить расчёт?",
				toggleCheck01: {
					inputLabel: "Электронная почта",
					inputType: "checkbox",
					inputId: "calc-form-connection-email",
					inputValue: "email",
					inputName: "connection",
					inputChecked: true,
				},
				toggleCheck02: {
					inputLabel: "WhatsApp",
					inputType: "checkbox",
					inputId: "calc-form-connection-whatsApp",
					inputValue: "whatsApp",
					inputName: "connection",

				},
				toggleCheck03: {
					inputLabel: "Viber",
					inputType: "checkbox",
					inputId: "calc-form-connection-viber",
					inputValue: "viber",
					inputName: "connection",

				},
				toggleCheck04: {
					inputLabel: "Telegram",
					inputType: "checkbox",
					inputId: "calc-form-connection-telegram",
					inputValue: "telegram",
					inputName: "connection",

				},
				toggleCheck05: {
					inputLabel: "По телефону",
					inputType: "checkbox",
					inputId: "calc-form-connection-tel",
					inputValue: "По телефону",
					inputName: "connection",

				},
				input01: {
					inputType: "text",
					inputPlaceholder: "Номер телефона",
					inputError: "Укажите номер телефона",
					inputId: "calc-form-tel",
					inputName: "Phone",
				},
				input02: {
					inputType: "text",
					inputPlaceholder: "Email",
					inputError: "Укажите email",
					inputId: "calc-form-email",
					inputName: "Email",
				},
				input03: {
					inputType: "text",
					inputPlaceholder: "Адрес / название ЖК",
					inputError: "Укажите адрес или название ЖК",
					inputId: "calc-form-address",
					inputName: "Address",
					inputMinLength: 3,
				},
				input04: {
					inputType: "text",
					inputPlaceholder: "Комментарий",
					inputId: "calc-form-comment",
					inputName: "Comment",
					inputMinLength: 5,
				},
				toggleCheck06: {
					inputLabel: "Согласие на обработку персональных данных",
					inputType: "checkbox",
					inputId: "calc-form-agreement",
					inputValue: "Согласие на обработку персональных данных",
					inputName: "calc-form-agreement",
					inputChecked: true,
				},
				btnFurther: {
					type: "submit",
					text: "Получить расчет",
				},
			}	
		}
	//- section.calculator
	.container.calculator__container
		//- h1.calculator__title=data.title
		//- p.calculator__text=data.titleText
		.calculator__wrapper.is-hidden(data-screen="screen04")
			.calculator__form
				//- form.calculator__form-form#calculatorForm(action="#")
				fieldset(form="calculatorForm").calculator__form-fieldset
					legend.calculator__form-title
						span.calculator__form-title-marker.calculator__form-title-marker--orange=data.fieldset.marker06 
						span.calculator__form-title-inner.calculator__form-title-inner--orange=data.fieldset.title01
						span.calculator__form-title-inner=data.fieldset.title0102
					p.calculator__form-sub-title=data.fieldset.title02
					+custom-toggle(data.fieldset.toggleCheck01).custom-toggle--checkbox
					+custom-toggle(data.fieldset.toggleCheck02).custom-toggle--checkbox
					+custom-toggle(data.fieldset.toggleCheck03).custom-toggle--checkbox
					+custom-toggle(data.fieldset.toggleCheck04).custom-toggle--checkbox
					+custom-toggle(data.fieldset.toggleCheck05).custom-toggle--checkbox
					.calculator__form-inputs.calculator__form-inputs--grid
						+custom-input(data.fieldset.input01)(data-validate-type="phone")
						+custom-input(data.fieldset.input02)(data-validate-type="email")
						+custom-input(data.fieldset.input03)(data-validate-type="text")
						+custom-input(data.fieldset.input04)
					+custom-toggle(data.fieldset.toggleCheck06).custom-toggle--checkbox.calculator__form-agreement(data-validate-type="checkbox")
				+btn(data.fieldset.btnFurther).calculator__form-btn.calculator__form-btn--submit
			.calculator__form-pic
				+picture("content", "calculator-bg-img", "png", "100%", "100%", "Электронный калькулятор лежит на бумаге с расчётами")