mixin calculator02-01 ()
	-
		const data = {
			title: "Калькулятор",
			titleText: "Заполните данные, и мы отправим Вам подробный расчёт удобным для Вас способом в течение 1 рабочего дня.",
			fieldset: {
				marker04: "4. ",
				title04: "Выберите тип остекления",
				toggleRadio01: {
					inputLabel: "Тёплое поворотно откидное остекление",
					inputType: "radio",
					inputId: "warm-tilt-and-turn",
					inputValue: "Тёплое поворотно откидное остекление",
					inputName: "Тип остекления",
					inputChecked: true,
				},
				toggleRadio02: {
					inputLabel: "Тёплое раздвижное остекление",
					inputType: "radio",
					inputId: "warm-sliding",
					inputValue: "Тёплое раздвижное остекление",
					inputName: "Тип остекления",

				},
				toggleRadio03: {
					inputLabel: "Холодное раздвижное остекление",
					inputType: "radio",
					inputId: "cold-sliding",
					inputValue: "Холодное раздвижное остекление",
					inputName: "Тип остекления",
				},
				btnBack: {
					type: "button",
					text: "Назад",
				},

				btnFurther: {
					type: "button",
					text: "Далее",
				},
				help: "Трудности с заполнением заявки?",
				helpBtn: {
					text: "Заказать звонок",
				}
			}	
		}
	//- section.calculator
	.container.calculator__container
		//- h1.calculator__title=data.title
		//- p.calculator__text=data.titleText
		.calculator__wrapper.is-hidden(data-screen="screen0201")
			fieldset(form="calculatorForm").calculator__form-fieldset
				legend.calculator__form-title
					span.calculator__form-title-marker=data.fieldset.marker04
					span.calculator__form-title-inner=data.fieldset.title04
				.calculator__form-toggles
					.calculator__form-toggles-item
						.calculator__form-toggles-item-pic 
							+picture("content", "glazing-type-img-01", "jpg", "100%", "100%", "Фото остекления балкона")
						+custom-toggle(data.fieldset.toggleRadio01).custom-toggle--radio.radio-check
					.calculator__form-toggles-item
						.calculator__form-toggles-item-pic 
							+picture("content", "glazing-type-img-02", "jpg", "100%", "100%", "Фото остекления балкона")
						+custom-toggle(data.fieldset.toggleRadio02).custom-toggle--radio.radio-check
					.calculator__form-toggles-item
						.calculator__form-toggles-item-pic 
							+picture("content", "glazing-type-img-03", "jpg", "100%", "100%", "Фото остекления балкона")
						+custom-toggle(data.fieldset.toggleRadio03).custom-toggle--radio.radio-check
				.calculator__form-row
					.calculator__form-btns
						+btn(data.fieldset.btnBack)(data-submit="back0201").calculator__form-btn.calculator__form-btn--back
						+btn(data.fieldset.btnFurther)(data-submit="further0201").calculator__form-btn.calculator__form-btn--further
					.calculator__form-help
						span.calculator__form-help-text=data.fieldset.help
						+btn(data.fieldset.helpBtn).calculator__form-help-btn(data-open-modal="modal-calc-form")
						+icon("icon-phone", 40, 40).calculator__form-help-btn-icon