.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1166px;
  @include vp-1439 {
    padding: 0 32px;
  }

  @include vp-1023 {
    padding: 0 24px;
  }

  @include vp-767 {
    max-width: 632px;
    padding: 0 16px;
  }
}
