mixin modal-calc-form()
	-
		const data = {
			title: "Оставьте свои контактные данные, и мы перезвоним Вам в течение дня.",
			form: {
				input01: {
					inputType: "text",
					inputPlaceholder: "Имя",
					inputError: "Укажите имя",
					inputId: "modal-calc-form-name",
					inputName: "Имя",
				},
				input02: {
					inputType: "text",
					inputPlaceholder: "Номер телефона",
					inputError: "Укажите номер телефона",
					inputId: "modal-calc-form-tel",
					inputName: "Номер телефона",
				},
				toggleCheck: {
					inputLabel: "Согласие на обработку персональных данных",
					inputType: "checkbox",
					inputId: "modal-calc-form-agreement",
					inputValue: "Согласен",
					inputName: "Согласие на обработку персональных данных",
					inputChecked: true,
				},
				btn: {
					tag: "button",
					type: "submit",
					text: "Заказать звонок",
				},
			},
		}
	.modal-calc-form
		.modal-calc-form__wrapper(data-validate data-callback="calcFormCallback")
			form#calcFormHelp
				fieldset 
					legend=data.title 
					+custom-input(data.form.input01)(data-validate-type="text")
					+custom-input(data.form.input02)(data-validate-type="phone")
					+custom-toggle(data.form.toggleCheck).custom-toggle--checkbox.modal-calc-form__agreement(data-validate-type="checkbox")
					.modal-calc-form__btn-wrapper
						+btn(data.form.btn).modal-calc-form__btn.modal-calc-form__btn--submit
						+icon("icon-phone", 40, 40).modal-calc-form__btn-icon